* {
  box-sizing: border-box;
}

body {
  color: #242424;
  font-family: 'Jost', sans-serif;
  background-color: #FAFCFF;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1280px;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}


@media (min-width: 1280px) {

}


@media (min-width: 1440px) {

}

.account-header {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin-bottom: 35px;
}

.account-header__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #576280;
  margin: 0;
}

.account-header__notice {
   margin-left: auto;
   max-width: 668px;
}
