#reviews-carousel {
  .flickity-page-dots {
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    opacity: 0.4;
    background: #000000;
    border: 4px solid transparent;
    transition: all 0.2s;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
    width: 12px;
    height: 12px;
  }
}
